In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from IPython.display import display
from IPython.display import Image
sns.set_context("notebook")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Extracting Data and Filtering
:The `[]` operator supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows.

The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

# Q1.
Select multiple criteria by creating multiple boolean Series and combining them using the `&` operator. For Examole Result is win and %win is more than 50.

In [10]:
 # reading a CSV file into a data frame
 # if we end a cell with an expression or variable name, the result will print the data frame
election = pd.read_csv('C:\\Users\zafar\\Downloads\\KM_notebook\\elections.csv')
print(election)

     Year          Candidate                  Party  Popular vote Result  \
0    1824     Andrew Jackson  Democratic-Republican        151271   loss
1    1824  John Quincy Adams  Democratic-Republican        113142    win
2    1828     Andrew Jackson             Democratic        642806    win
3    1828  John Quincy Adams    National Republican        500897   loss
4    1832     Andrew Jackson             Democratic        702735    win
..    ...                ...                    ...           ...    ...
177  2016         Jill Stein                  Green       1457226   loss
178  2020       Joseph Biden             Democratic      81268924    win
179  2020       Donald Trump             Republican      74216154   loss
180  2020       Jo Jorgensen            Libertarian       1865724   loss
181  2020     Howard Hawkins                  Green        405035   loss

             %
0    57.210122
1    42.789878
2    56.203927
3    43.796073
4    54.574789
..         ...
177   1.073699
178  51.311515
179  46.858542
180   1.177979
181   0.255731

[182 rows x 6 columns]

We will nowe work with a dataset containing the names of all babies born in California, USA. Visit the [Social Security Adminisitration Website](https://www.ssa.gov/oact/babynames/limits.html) for more details about the dataset if you want.

In [21]:
dft = ((election['Result'] == 'win') & (election['%'] > 50))
dft

0      False
1      False
2       True
3      False
4       True
       ...
177    False
178     True
179    False
180    False
181    False
Length: 182, dtype: bool

**Let's start by loading the Baby Names dataset.**

In [1]:
import urllib.request
import os.path
import zipfile
import pandas as pd

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.head(15)

   State Sex  Year       Name  Count
0     CA   F  1910       Mary    295
1     CA   F  1910      Helen    239
2     CA   F  1910    Dorothy    220
3     CA   F  1910   Margaret    163
4     CA   F  1910    Frances    134
5     CA   F  1910       Ruth    128
6     CA   F  1910     Evelyn    126
7     CA   F  1910      Alice    118
8     CA   F  1910   Virginia    101
9     CA   F  1910  Elizabeth     93
10    CA   F  1910   Florence     93
11    CA   F  1910      Marie     90
12    CA   F  1910    Mildred     90
13    CA   F  1910       Rose     74
14    CA   F  1910      Hazel     68

In [22]:
babynames.shape

(413894, 5)

# Q2.
Calculate the some statics of babynames DataFrame using Utility Functions, like .describe(), .size, .shape and report your analysis in comments

In [3]:
babynames['Name'].shape

(413894,)

In [6]:
babynames['Name'].describe()
babynames['Name'].size

413894

In [16]:
names =["Emma" ,"Liam,","Olivia"]

fname = babynames[babynames['Name'].isin(names)]
fname.head(15)

     State Sex  Year    Name  Count
53      CA   F  1910    Emma     29
293     CA   F  1911    Emma     29
525     CA   F  1912    Emma     56
701     CA   F  1912  Olivia      8
840     CA   F  1913    Emma     56
1168    CA   F  1914    Emma     65
1437    CA   F  1914  Olivia      6
1542    CA   F  1915    Emma     86
1869    CA   F  1915  Olivia      6
2009    CA   F  1916    Emma     78
2195    CA   F  1916  Olivia     12
2467    CA   F  1917    Emma     95
2639    CA   F  1917  Olivia     15
2958    CA   F  1918    Emma     83
3136    CA   F  1918  Olivia     15

**Add Your comments Here**

# Q.3:

Using the babynames DataFrame that contains baby names data for the state of California, how can you use the 'isin' method to find out which records have names that are in a given list of names, such as "Emma," "Liam," and "Olivia," and what would be the output of this operation when applied to the first 15 rows of the DataFrame (babynames.head(15))?

In [28]:
# List of names to check
babynames[babynames["Name"].str.startswith('A','B')]
# Use the isin method to filter records with names in the name_list

# Display the filtered DataFrame

       State Sex  Year       Name  Count
7         CA   F  1910      Alice    118
31        CA   F  1910       Anna     51
32        CA   F  1910        Ann     47
57        CA   F  1910      Anita     28
68        CA   F  1910       Alma     24
...      ...  ..   ...        ...    ...
413585    CA   M  2023      Astor      5
413586    CA   M  2023  Aureliano      5
413587    CA   M  2023     Austyn      5
413588    CA   M  2023       Avan      5
413589    CA   M  2023       Ayce      5

[45773 rows x 5 columns]

# Q.4:
How can you use the 'str.startswith' method in pandas to filter records in a babyname DataFrame? Provide an example code using the babynames DataFrame and explain how this method can be employed to extract data for baby names that begin with 'A' or 'B' set of letters.

In [ ]:
# Filter rows where the 'Name' column starts with 'A'
babynames[babynames["Name"].str.startwiths(A & B)]

# Display the filtered DataFrame

#print("Baby names starting with 'A' and B:")

       State Sex  Year      Name  Count
7         CA   F  1910     Alice    118
23        CA   F  1910   Bernice     59
31        CA   F  1910      Anna     51
32        CA   F  1910       Ann     47
36        CA   F  1910     Betty     40
...      ...  ..   ...       ...    ...
413597    CA   M  2023  Bradford      5
413598    CA   M  2023    Brahim      5
413599    CA   M  2023   Braiden      5
413600    CA   M  2023      Bret      5
413601    CA   M  2023  Brighton      5

[62932 rows x 5 columns]

# Q.5

Find the most popular baby name in California in 2012

__Exercise__: Try to find the most popular baby name by finding the maximum value for 'Count' and then apply filtering to find the name.

In [39]:
fname = babynames[babynames["Year"]==2012]
fname.sort_values(by = 'Count' , ascending = False)
fname['Count'].max()

3645

In [42]:
california_2012 = babynames[(babynames['Year'] == 2012) & (babynames['State'] == 'CA')]

# Find the maximum value for 'Count'
max_count = california_2012['Count'].max()

# Apply filtering to find the name associated with this maximum count
most_popular_name = california_2012[california_2012['Count'] == max_count]['Name']

# Display the most popular baby name
print(most_popular_name)

197543    Sophia
Name: Name, dtype: object

In [54]:
max_count = california_2012['Count'].max()
popular_names = babynames[babynames['Count'] == max_count]
popular_names

       State Sex  Year    Name  Count
197543    CA   F  2012  Sophia   3645

In [46]:
california_2012 = babynames[(babynames['Year'] == 2012) & (babynames['State'] == 'CA')]
max_count = california_2012['Count'].max()
max_count

3645

In [ ]:

# Step 5: Find the maximum count and the corresponding name(s)

       State Sex  Year    Name  Count
197543    CA   F  2012  Sophia   3645

# Q. 6
Find baby names that start with J, in th Year from 2001 to 2019

*Note: To answer this question, we need a way to look at the individual characters of the baby names*

In [4]:
# Note: Series has powerful string manipulation methods associated with it


# Step 5: Find names that start with 'J'

# Step 6: Display the filtered DataFrame

       State Sex  Year        Name  Count
152833    CA   F  2001     Jessica   2244
152835    CA   F  2001    Jennifer   2027
152839    CA   F  2001     Jasmine   1655
152854    CA   F  2001  Jacqueline   1195
152864    CA   F  2001       Julia    983
152873    CA   F  2001     Jocelyn    856
152920    CA   F  2001      Jordan    510
152925    CA   F  2001      Jasmin    500
152929    CA   F  2001     Juliana    494
152931    CA   F  2001       Jenna    490
152938    CA   F  2001      Jazmin    465
152952    CA   F  2001      Joanna    396
152955    CA   F  2001        Jade    384
152969    CA   F  2001     Jazmine    346
152997    CA   F  2001    Julianna    282

# Q.7
Add a new column called "name_length" to the babynames DataFrame, you can use .str.len() in existing Name column. Moreover. also modify the Length values with new values like existing_value-1 and rename the length column with new label as desceribe in slides.

In [6]:
# Calculate the length of each name and add it as a new column "_length"

# Modify 'name_length' values to be existing_value - 1

# Rename the 'name_length' column to the new label 'name_length_modified'

       State Sex  Year      Name  Count  Length
0         CA   F  1910      Mary    295       3
1         CA   F  1910     Helen    239       4
2         CA   F  1910   Dorothy    220       6
3         CA   F  1910  Margaret    163       7
4         CA   F  1910   Frances    134       6
...      ...  ..   ...       ...    ...     ...
413889    CA   M  2023      Ziah      5       3
413890    CA   M  2023    Ziaire      5       5
413891    CA   M  2023    Zidane      5       5
413892    CA   M  2023      Zyan      5       3
413893    CA   M  2023      Zyir      5       3

[413894 rows x 6 columns]

# Q.8

Use .str.split() to sample the names with 'ad' string and show first 10 samples.

In [8]:
# Step 4: Filter names that contain 'ad'

# Step 5: Use .str.split() to split names containing 'ad' (for demonstration purposes)
names_with_ad

<ipython-input-8-240dd1e17327>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  names_with_ad['Name_split'] = names_with_ad['Name'].str.split('ad')

       State Sex  Year      Name  Count  name_length  Name_split
19        CA   F  1910    Gladys     63            5    [Gl, ys]
91        CA   F  1910   Adeline     17            6   [Adeline]
96        CA   F  1910  Madeline     17            7  [M, eline]
129       CA   F  1910       Ada     10            2       [Ada]
136       CA   F  1910     Sadie     10            4     [S, ie]
...      ...  ..   ...       ...    ...          ...         ...
413570    CA   M  2023     Anhad      5            4     [Anh, ]
413597    CA   M  2023  Bradford      5            7  [Br, ford]
413641    CA   M  2023    Eladio      5            5    [El, io]
413724    CA   M  2023   Kaladin      5            6   [Kal, in]
413882    CA   M  2023     Zadok      5            4     [Z, ok]

[10896 rows x 7 columns]

More on str methods when we'll study regular expressions in this course. Note that there are other approaches that we can use to find the same answer as above.

# Q.9
 Sort names by their length using lambda function.

# Q.10
1: The code randomly mixes up the list of baby names. Why might someone want to do this, and how could it affect the analysis of the names?

2: After mixing, the code figures out how long each baby name is. Why would we care about name lengths, and what can this tell us about the names?

3: The code arranges the name lengths from longest to shortest. Why might we want to do this, and what could it help us find in the data?

4: The code finds the order of baby names based on their lengths and shows us the first few names in this new order. When might we need to organize names this way, and what might we discover from the first few names in this order?

In [ ]:
#Part1, shuffling can be done using sample(frac=1)


#Part2


#Part3

#Part4

# Bonus Question

1: How can you use the .sample() method to randomly select a single row from the babynames DataFrame, and what is the purpose of such a selection?

2: Suppose you want to generate a random sample of 10 baby names from the babynames DataFrame. How would you use the .sample() method to achieve this, and what parameters or arguments would you specify?

3: In a scenario where you need to ensure reproducibility, explain how you can set a random seed when using the .sample() method in pandas. Why might this be important in certain data analysis tasks?

4: You want to perform a bootstrap resampling analysis on the baby names data in the babynames DataFrame. Describe how you can repeatedly sample with replacement using .sample() to create multiple bootstrap samples for statistical analysis

In [ ]:
# 4th Part
# Assuming you have the 'babynames' DataFrame

# Set the random seed for reproducibility

# Number of bootstrap samples

# Sample size (same as the original dataset)

# Initialize a list to store bootstrap sample statistics

# Perform bootstrapping

    # Generate a bootstrap sample with replacement

    # Perform your statistical analysis on the bootstrap sample here
    # For example, you can calculate the mean, median, or other statistics

    # Append the statistic of interest to the list